html {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
  box-sizing: border-box; /*NOTE FOR ME: I loved this screen. It fitted 3 cards in PC screen. Why mot? Inspect*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);

  --bgHeader: rgb(39, 39, 42);

  --blue: rgb(93, 188, 252);

  --icon-hover: #d4d4d8;

  --container-padding: 4.8rem;
}

.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);

  --bigHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);

  --icon-hover: #333;
}

body {
  background-color: var(--primary);
  color: #fff;
}

.container {
  border: 2px solid var(--border);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  padding: 0 var(--container-padding);
}

.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;

  width: calc(100% + var(--container-padding) + var(--container-padding));
  margin-left: calc(var(--container-padding) * -1);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.border {
  border: 2px solid red;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9; /*when pressing on icon, it gets smaller then to normal (hover not enough, you got to press firmly*/
}

.scroll-to-top {
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.3rem;
  color: #fff;
}

.scroll-to-top:hover {
  background-color: rgb(25, 118, 210);
}

/*====================================

css giagnostic codes 

* {
  background-color: rgba(0, 128, 0, 0.2);
  outline: 1px solid red;
}
=====================================*/

@media (max-width: 1000px) {
  .container {
    --container-padding: 1.7rem;
    width: 90%;
    padding: 0 var(--container-padding);
  }

  @media (max-width: 600px) {
    .container {
      width: 98%;
      padding: 0 var(--container-padding);
    }

    .scroll-to-top {
      width: 2.2rem;
      height: 2.2rem;
      opacity: 0.6;
      font-size: 1rem;
    }
  }
}
